In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Tiktok_Videos_Annotation .csv')
print(dataset.shape)
dataset.head(10)

(1000, 6)

   ID        Video name  Voter 1  Voter 2  Voter 3  Final Vote
0   1   asianbobogirl-1        0        0        0           0
1   2    awrabriguela-1        0        0        0           0
2   3    awrabriguela-2        0        0        0           0
3   4    awrabriguela-3        0        0        0           0
4   5  aynperotagalog-1        0        0        0           0
5   6  aynperotagalog-2        0        0        0           0
6   7  aynperotagalog-3        0        0        0           0
7   8  aynperotagalog-4        0        0        0           0
8   9  aynperotagalog-5        0        0        0           0
9  10  aynperotagalog-6        0        0        0           0

Code from: https://learnaitech.com/how-to-compute-inter-rater-reliablity-metrics-cohens-kappa-fleisss-kappa-cronbach-alpha-kripndorff-alpha-scotts-pi-inter-class-correlation-in-python/

In [ ]:
from nltk import agreement

coder1 = dataset['Voter 1']
coder2 = dataset['Voter 2']
coder3 = dataset['Voter 3']

formatted_codes = [[1,i,coder1[i]] for i in range(len(coder1))] + 
                  [[2,i,coder2[i]] for i in range(len(coder2))]  + 
                  [[3,i,coder3[i]] for i in range(len(coder3))]

ratingtask = agreement.AnnotationTask(data=formatted_codes)

print('Fleiss\'s Kappa:',ratingtask.multi_kappa())

Fleiss's Kappa: 0.7590190263532891